<h1>Listing integrants</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Orchestra</th>
      <th>Instrument</th>
      <th>Conductor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @integrants.each do |integrant| %>
      <tr>
        <td><%= integrant.nome %></td>
        <td><%= integrant.orchestra_id %></td>
        <td><%= integrant.instrument_id %></td>
        <td><%= integrant.conductor_id %></td>
        <td><%= link_to 'Show', integrant %></td>
        <td><%= link_to 'Edit', edit_integrant_path(integrant) %></td>
        <td><%= link_to 'Destroy', integrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Integrant', new_integrant_path %>
